{{#if navigation.length}}
  <ul class="nav-list">
    {{#each navigation}}
      <li class="nav-item is-active{{#if (eq ./url @root.page.url)}} is-current-page{{/if}}"
        data-depth="{{or ../level 0}}">
        <span
          class="nav-item-expander{{#if (and @root.page.navigation (not (eq ./url @root.page.url)))}} clickable{{/if}}{{#if ./url}} final-depth{{/if}}">
          {{#if ./content}}
            {{#if ./items.length}}
              {{> nav-item-toggle not-hidden=1}}
            {{/if}}
            {{#if (and ./url (not (eq ./url @root.page.url)))}}
              <a class="nav-link"
                href="{{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}{{~else}}{{{./url}}}{{~/if}}">{{{./content}}}</a>
            {{else}}
              <span class="nav-text">{{{./content}}}</span>
            {{/if}}
          {{/if}}
        </span>
        {{> nav-tree navigation=./items level=(increment ../level)}}
      </li>
    {{/each}}
  </ul>
{{/if}}
